{#- -*- coding: utf-8 -*- #}
{#- vim: ft=jinja #}
{#-
    Set values specific to:
      salt['config.get']('os_family') == Debian.

    You just need to add the key:values for this `os` that differ
    from `defaults.yaml` + `<osarch>.yaml`.

    This jinja2 file must return a valid `map.jinja` YAML.

    If you do not need to provide calculated values via the `os`
    config, you can remove this file or provide at least an empty
    dict, e.g.
    values: {}
#}
---
values:
{%- if 'oscodename' in grains %}
  default:
    pkg:
      use_upstream_repo: False  # false because installer is interactive
      repo:
        humanname: Java Repository for Debian
        name: deb http://ppa.launchpad.net/webupd8team/java/ubuntu {{ grains.oscodename }} main
        dist: {{ grains['oscodename'] }}
        file: /etc/apt/sources.list.d/java.list
{%- else %}
  {}
{%- endif %}
...
